#default-vilay-editor-theme {
  background-color: #282c34;
  color: #abb2bf;

  & .theme-line-number {
    color: #464950;
  }

  & .theme-cursor-row-highlight {
    background-color: #a799ff14;
  }

  & .theme-active-cursor-row {
    color: #727985;
  }
}
