#default-vilay-editor-theme {
  background-color: #282c34;
  color: #abb2bf;

  & .theme-line-number {
    color: #636d83;
  }

  & .theme-cursor-row-highlight {
    background-color: #99bbff0a;
  }

  & .theme-active-cursor-row {
    color: #abb2bf;
  }
}
